In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('working-df/cleaned_aviation_data_category2.csv', encoding='latin-1')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Airport_Code            49484 non-null  object
 7   Airport_Name            52031 non-null  object
 8   Injury_Severity         86961 non-null  object
 9   Aircraft_damage         84848 non-null  object
 10  Aircraft_Category       82168 non-null  object
 11  Registration_Number     86601 non-null  object
 12  Make                    87888 non-null  object
 13  Model                   87859 non-null  object
 14  Amateur_Built           87851 non-null  object
 15  Number_of_Engines       81924 non-null  float64
 16  Engine_Type             80908 non-null  object
 17  FAR_Description         31915 non-null  object
 18  Purpose_of_flight       81829 non-null  object
 19  Total_Fatal_Injuries    76684 non-null  float64
 20  Total_Serious_Injuries  75629 non-null  float64
 21  Total_Minor_Injuries    76191 non-null  float64
 22  Total_Uninjured         82088 non-null  float64
 23  Weather_Condition       83478 non-null  object
 24  Broad_phase_of_flight   87951 non-null  object
 25  Report_Status           81587 non-null  object
 26  Publication_Date        74352 non-null  object
dtypes: float64(5), object(22)
memory usage: 18.1+ MB

In [173]:
# Show category value_counts for particular make
df[df['Make'] == 'Phillips'].value_counts('Aircraft_Category', dropna=False)

Aircraft_Category
Airplane    6
NaN         1
Name: count, dtype: int64

In [174]:
# Fill in Aircraft_Category as Airplane for particular make
df.loc[df['Make'] == 'Phillips', 'Aircraft_Category'] = 'Airplane'

In [ ]:
# Fill in Aircraft_Category as Helicopter for particular make
df.loc[df['Make'] == 'American Eurocopter', 'Aircraft_Category'] = 'Helicopter'

In [19]:
# Fill in Aircraft_Category as Balloon for particular make
df.loc[df['Make'] == 'Firefly', 'Aircraft_Category'] = 'Balloon'

In [129]:
# Fill in Aircraft_Category as Glider for particular make
df.loc[df['Make'] == 'Centrair', 'Aircraft_Category'] = 'Glider'

In [71]:
# Fill in Aircraft_Category as Gyrocraft for particular make
df.loc[df['Make'] == 'Mcculloch', 'Aircraft_Category'] = 'Gyrocraft'

In [144]:
# Fill in Aircraft_Category as Weight-Shift for particular make
df.loc[df['Make'] == 'Trick Trikes', 'Aircraft_Category'] = 'Weight-Shift'

In [122]:
# Fill in Aircraft_Category as Powered Parachute for particular make
df.loc[df['Make'] == 'Infinity', 'Aircraft_Category'] = 'Powered Parachute'

In [43]:
# Fill in Aircraft_Category as Ultralight for particular make
df.loc[df['Make'] == 'Pterodactyl', 'Aircraft_Category'] = 'Ultralight'

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Airport_Code            49484 non-null  object
 7   Airport_Name            52031 non-null  object
 8   Injury_Severity         86961 non-null  object
 9   Aircraft_damage         84848 non-null  object
 10  Aircraft_Category       82614 non-null  object
 11  Registration_Number     86601 non-null  object
 12  Make                    87888 non-null  object
 13  Model                   87859 non-null  object
 14  Amateur_Built           87851 non-null  object
 15  Number_of_Engines       81924 non-null  float64
 16  Engine_Type             80908 non-null  object
 17  FAR_Description         31915 non-null  object
 18  Purpose_of_flight       81829 non-null  object
 19  Total_Fatal_Injuries    76684 non-null  float64
 20  Total_Serious_Injuries  75629 non-null  float64
 21  Total_Minor_Injuries    76191 non-null  float64
 22  Total_Uninjured         82088 non-null  float64
 23  Weather_Condition       83478 non-null  object
 24  Broad_phase_of_flight   87951 non-null  object
 25  Report_Status           81587 non-null  object
 26  Publication_Date        74352 non-null  object
dtypes: float64(5), object(22)
memory usage: 18.1+ MB

In [176]:
df.to_csv('working-df/cleaned_aviation_data_category3.csv', index=False)