In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('working-df/cleaned_aviation_data_category3.csv', encoding='latin-1')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Airport_Code            49484 non-null  object
 7   Airport_Name            52031 non-null  object
 8   Injury_Severity         86961 non-null  object
 9   Aircraft_damage         84848 non-null  object
 10  Aircraft_Category       82614 non-null  object
 11  Registration_Number     86601 non-null  object
 12  Make                    87888 non-null  object
 13  Model                   87859 non-null  object
 14  Amateur_Built           87851 non-null  object
 15  Number_of_Engines       81924 non-null  float64
 16  Engine_Type             80908 non-null  object
 17  FAR_Description         31915 non-null  object
 18  Purpose_of_flight       81829 non-null  object
 19  Total_Fatal_Injuries    76684 non-null  float64
 20  Total_Serious_Injuries  75629 non-null  float64
 21  Total_Minor_Injuries    76191 non-null  float64
 22  Total_Uninjured         82088 non-null  float64
 23  Weather_Condition       83478 non-null  object
 24  Broad_phase_of_flight   87951 non-null  object
 25  Report_Status           81587 non-null  object
 26  Publication_Date        74352 non-null  object
dtypes: float64(5), object(22)
memory usage: 18.1+ MB

In [2]:
# Remove Columns labelled Airport_Code, Airport_Name, FAR_Description
df = df.drop(['Airport_Code', 'Airport_Name', 'FAR_Description'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Injury_Severity         86961 non-null  object
 7   Aircraft_damage         84848 non-null  object
 8   Aircraft_Category       82614 non-null  object
 9   Registration_Number     86601 non-null  object
 10  Make                    87888 non-null  object
 11  Model                   87859 non-null  object
 12  Amateur_Built           87851 non-null  object
 13  Number_of_Engines       81924 non-null  float64
 14  Engine_Type             80908 non-null  object
 15  Purpose_of_flight       81829 non-null  object
 16  Total_Fatal_Injuries    76684 non-null  float64
 17  Total_Serious_Injuries  75629 non-null  float64
 18  Total_Minor_Injuries    76191 non-null  float64
 19  Total_Uninjured         82088 non-null  float64
 20  Weather_Condition       83478 non-null  object
 21  Broad_phase_of_flight   87951 non-null  object
 22  Report_Status           81587 non-null  object
 23  Publication_Date        74352 non-null  object
dtypes: float64(5), object(19)
memory usage: 16.1+ MB

In [3]:
# Show Total_Fatal_Injuries value-counts including NaN
df['Total_Fatal_Injuries'].value_counts(dropna=False)

Total_Fatal_Injuries
0.0      59157
NaN      11267
1.0       8801
2.0       5094
3.0       1544
         ...
83.0         1
143.0        1
144.0        1
60.0         1
176.0        1
Name: count, Length: 126, dtype: int64

In [4]:
# Fill in NaN values in Total_Fatal_Injuries with 0
df['Total_Fatal_Injuries'] = df['Total_Fatal_Injuries'].fillna(0)

df['Total_Fatal_Injuries'].value_counts(dropna=False)

Total_Fatal_Injuries
0.0      70424
1.0       8801
2.0       5094
3.0       1544
4.0       1064
         ...
83.0         1
143.0        1
144.0        1
60.0         1
176.0        1
Name: count, Length: 125, dtype: int64

In [5]:
# Fill in NaN values in Total Injuries columns with 0
df['Total_Serious_Injuries'] = df['Total_Serious_Injuries'].fillna(0)
df['Total_Minor_Injuries'] = df['Total_Minor_Injuries'].fillna(0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Injury_Severity         86961 non-null  object
 7   Aircraft_damage         84848 non-null  object
 8   Aircraft_Category       82614 non-null  object
 9   Registration_Number     86601 non-null  object
 10  Make                    87888 non-null  object
 11  Model                   87859 non-null  object
 12  Amateur_Built           87851 non-null  object
 13  Number_of_Engines       81924 non-null  float64
 14  Engine_Type             80908 non-null  object
 15  Purpose_of_flight       81829 non-null  object
 16  Total_Fatal_Injuries    87951 non-null  float64
 17  Total_Serious_Injuries  87951 non-null  float64
 18  Total_Minor_Injuries    87951 non-null  float64
 19  Total_Uninjured         82088 non-null  float64
 20  Weather_Condition       83478 non-null  object
 21  Broad_phase_of_flight   87951 non-null  object
 22  Report_Status           81587 non-null  object
 23  Publication_Date        74352 non-null  object
dtypes: float64(5), object(19)
memory usage: 16.1+ MB

In [7]:
df['Total_Uninjured'] = df['Total_Uninjured'].fillna(0)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Injury_Severity         86961 non-null  object
 7   Aircraft_damage         84848 non-null  object
 8   Aircraft_Category       82614 non-null  object
 9   Registration_Number     86601 non-null  object
 10  Make                    87888 non-null  object
 11  Model                   87859 non-null  object
 12  Amateur_Built           87851 non-null  object
 13  Number_of_Engines       81924 non-null  float64
 14  Engine_Type             80908 non-null  object
 15  Purpose_of_flight       81829 non-null  object
 16  Total_Fatal_Injuries    87951 non-null  float64
 17  Total_Serious_Injuries  87951 non-null  float64
 18  Total_Minor_Injuries    87951 non-null  float64
 19  Total_Uninjured         87951 non-null  float64
 20  Weather_Condition       83478 non-null  object
 21  Broad_phase_of_flight   87951 non-null  object
 22  Report_Status           81587 non-null  object
 23  Publication_Date        74352 non-null  object
dtypes: float64(5), object(19)
memory usage: 16.1+ MB

In [9]:
# Aircraft_damage value_counts
df['Aircraft_damage'].value_counts(dropna=False)

Aircraft_damage
Substantial    63641
Destroyed      18402
NaN             3103
Minor           2686
Unknown          119
Name: count, dtype: int64

In [10]:
# Fill in NaN values in Aircraft_damage with Unknown
df['Aircraft_damage'] = df['Aircraft_damage'].fillna('Unknown')

df['Aircraft_damage'].value_counts(dropna=False)

Aircraft_damage
Substantial    63641
Destroyed      18402
Unknown         3222
Minor           2686
Name: count, dtype: int64

In [11]:
# Fill in NaN values in Make with Unknown
df['Make'] = df['Make'].fillna('Unknown')

In [12]:
df['Aircraft_Category'].value_counts(dropna=False)

Aircraft_Category
Airplane             72650
Helicopter            7964
NaN                   5337
Glider                 962
Balloon                491
Gyrocraft              218
Weight-Shift           185
Powered Parachute       98
Ultralight              28
WSFT                     5
Blimp                    4
Unknown                  4
UNK                      2
Powered-Lift             1
Rocket                   1
ULTR                     1
Name: count, dtype: int64

In [13]:
# Fill in NaN values in Aircraft_Category with Unknown
df['Aircraft_Category'] = df['Aircraft_Category'].fillna('Unknown')

In [14]:
# Fill UNK with Unknown in Category column
df['Aircraft_Category'] = df['Aircraft_Category'].replace('UNK', 'Unknown')

In [15]:
# Fill WSFT with Weight-Shift in Category column
df['Aircraft_Category'] = df['Aircraft_Category'].replace('WSFT', 'Weight-Shift')

In [16]:
# Fill ULTR with Ultralight in Category column
df['Aircraft_Category'] = df['Aircraft_Category'].replace('ULTR', 'Ultralight')

In [17]:
df['Aircraft_Category'].value_counts(dropna=False)

Aircraft_Category
Airplane             72650
Helicopter            7964
Unknown               5343
Glider                 962
Balloon                491
Gyrocraft              218
Weight-Shift           190
Powered Parachute       98
Ultralight              29
Blimp                    4
Powered-Lift             1
Rocket                   1
Name: count, dtype: int64

In [18]:
df['Weather_Condition'].value_counts(dropna=False)

Weather_Condition
VMC    76417
IMC     5949
NaN     4473
UNK      850
Unk      262
Name: count, dtype: int64

In [19]:
# Fill UNK with Unknown in Weather column
df['Weather_Condition'] = df['Weather_Condition'].replace('UNK', 'Unknown')

In [20]:
# Fill UNK with Unknown in Weather column
df['Weather_Condition'] = df['Weather_Condition'].replace('Unk', 'Unknown')

In [21]:
# Fill in NaN values in Weather_Condition with Unknown
df['Weather_Condition'] = df['Weather_Condition'].fillna('Unknown')

In [22]:
df['Weather_Condition'].value_counts(dropna=False)

Weather_Condition
VMC        76417
IMC         5949
Unknown     5585
Name: count, dtype: int64

In [23]:
df['Injury_Severity'].value_counts(dropna=False)

Injury_Severity
Non-Fatal     66822
Fatal(1)       6086
Fatal          5257
Fatal(2)       3632
Incident       2113
              ...
Fatal(33)         1
Fatal(123)        1
Fatal(72)         1
Fatal(54)         1
Fatal(189)        1
Name: count, Length: 110, dtype: int64

In [24]:
# Show NaN count in Injury_Severity column
df['Injury_Severity'].isna().sum()

990

In [25]:
# Fill in NaN values in Injury_Severity with Unknown
df['Injury_Severity'] = df['Injury_Severity'].fillna('Unknown')

In [27]:
# replace values starting with 'Fata' with 'Fatal' since the number of fatalities is already recorded in another column
df.loc[df['Injury_Severity'].str.startswith('Fata'), 'Injury_Severity'] = 'Fatal'

In [28]:
df['Injury_Severity'].value_counts(dropna=False)

Injury_Severity
Non-Fatal      66822
Fatal          17540
Incident        2113
Unknown          990
Minor            217
Serious          173
Unavailable       96
Name: count, dtype: int64

In [29]:
# Fill Unavailable with Unknown in Injury_Severity column
df['Injury_Severity'] = df['Injury_Severity'].replace('Unavailable', 'Unknown')

In [30]:
df['Injury_Severity'].value_counts(dropna=False)

Injury_Severity
Non-Fatal    66822
Fatal        17540
Incident      2113
Unknown       1086
Minor          217
Serious        173
Name: count, dtype: int64

In [31]:
df['Amateur_Built'].value_counts(dropna=False)

Amateur_Built
No     79431
Yes     8420
NaN      100
Name: count, dtype: int64

In [32]:
# Fill in NaN values in Amateur_Built with Unknown
df['Amateur_Built'] = df['Amateur_Built'].fillna('Unknown')

In [34]:
# Show NaN count in Report_Status column
df['Report_Status'].isna().sum()

6364

In [35]:
# Fill in NaN values in Amateur_Built with Unknown
df['Report_Status'] = df['Report_Status'].fillna('Unknown')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Injury_Severity         87951 non-null  object
 7   Aircraft_damage         87951 non-null  object
 8   Aircraft_Category       87951 non-null  object
 9   Registration_Number     86601 non-null  object
 10  Make                    87951 non-null  object
 11  Model                   87859 non-null  object
 12  Amateur_Built           87951 non-null  object
 13  Number_of_Engines       81924 non-null  float64
 14  Engine_Type             80908 non-null  object
 15  Purpose_of_flight       81829 non-null  object
 16  Total_Fatal_Injuries    87951 non-null  float64
 17  Total_Serious_Injuries  87951 non-null  float64
 18  Total_Minor_Injuries    87951 non-null  float64
 19  Total_Uninjured         87951 non-null  float64
 20  Weather_Condition       87951 non-null  object
 21  Broad_phase_of_flight   87951 non-null  object
 22  Report_Status           87951 non-null  object
 23  Publication_Date        74352 non-null  object
dtypes: float64(5), object(19)
memory usage: 16.1+ MB

In [37]:
# Show NaN count in Report_Status column
df['Location'].isna().sum()

52

In [38]:
# Fill in NaN values in Location with Unknown
df['Location'] = df['Location'].fillna('Unknown')

In [39]:
# Show NaN count in Report_Status column
df['Country'].isna().sum()

222

In [40]:
# Fill in NaN values in Country with Unknown
df['Country'] = df['Country'].fillna('Unknown')

In [41]:
# Fill in NaN values in Registration_Number with Unknown
df['Registration_Number'] = df['Registration_Number'].fillna('Unknown')

In [42]:
# Fill in NaN values in Model with Unknown
df['Model'] = df['Model'].fillna('Unknown')

In [43]:
# Fill in NaN values in Number_of_Engines with Unknown
df['Number_of_Engines'] = df['Number_of_Engines'].fillna('Unknown')

In [44]:
df['Engine_Type'].value_counts(dropna=False)

Engine_Type
Reciprocating      68885
NaN                 7043
Turbo Shaft         3583
Turbo Prop          3324
Turbo Fan           2387
Unknown             2017
Turbo Jet            684
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

In [45]:
# Fill in NaN values in Engine_Type with Unknown
df['Engine_Type'] = df['Engine_Type'].fillna('Unknown')

In [46]:
# Fill UNK with Unknown in Engine_Type column
df['Engine_Type'] = df['Engine_Type'].replace('UNK', 'Unknown')

In [47]:
df['Engine_Type'].value_counts(dropna=False)

Engine_Type
Reciprocating      68885
Unknown             9061
Turbo Shaft         3583
Turbo Prop          3324
Turbo Fan           2387
Turbo Jet            684
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
Name: count, dtype: int64

In [48]:
df['Purpose_of_flight'].value_counts(dropna=False)

Purpose_of_flight
Personal                     49076
Instructional                10442
Unknown                       6609
NaN                           6122
Aerial Application            4686
Business                      3971
Positioning                   1632
Other Work Use                1250
Ferry                          806
Aerial Observation             787
Public Aircraft                710
Executive/corporate            542
Flight Test                    405
Skydiving                      181
External Load                  123
Public Aircraft - Federal      104
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   53
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             5
PUBS                             4
PUBL                             1
Name: count, dtype: int64

In [49]:
# Fill in NaN values in Purpose_of_flight with Unknown
df['Purpose_of_flight'] = df['Purpose_of_flight'].fillna('Unknown')

In [50]:
# Fill in NaN values in Publication_Date with Unknown
df['Publication_Date'] = df['Publication_Date'].fillna('Unknown')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87951 entries, 0 to 87950
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87951 non-null  object
 5   Country                 87951 non-null  object
 6   Injury_Severity         87951 non-null  object
 7   Aircraft_damage         87951 non-null  object
 8   Aircraft_Category       87951 non-null  object
 9   Registration_Number     87951 non-null  object
 10  Make                    87951 non-null  object
 11  Model                   87951 non-null  object
 12  Amateur_Built           87951 non-null  object
 13  Number_of_Engines       87951 non-null  object
 14  Engine_Type             87951 non-null  object
 15  Purpose_of_flight       87951 non-null  object
 16  Total_Fatal_Injuries    87951 non-null  float64
 17  Total_Serious_Injuries  87951 non-null  float64
 18  Total_Minor_Injuries    87951 non-null  float64
 19  Total_Uninjured         87951 non-null  float64
 20  Weather_Condition       87951 non-null  object
 21  Broad_phase_of_flight   87951 non-null  object
 22  Report_Status           87951 non-null  object
 23  Publication_Date        87951 non-null  object
dtypes: float64(4), object(20)
memory usage: 16.1+ MB

In [52]:
# Export df as a separate file
df.to_csv('working-df/cleaned_aviation_data_complete.csv', index=False)