In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load cleaned_aviation_data_US.csv
df = pd.read_csv('working-df/cleaned_aviation_data_US_v3.csv')

df.info()

<ipython-input-1-469c60ca8532>:7: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('working-df/cleaned_aviation_data_US_v3.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81355 entries, 0 to 81354
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                81355 non-null  object
 1   Investigation_Type      81355 non-null  object
 2   Accident_Number         81355 non-null  object
 3   Event_Date              81355 non-null  object
 4   Location                81355 non-null  object
 5   Country                 81355 non-null  object
 6   Airport_Code            48431 non-null  object
 7   Airport_Name            50906 non-null  object
 8   Injury_Severity         81250 non-null  object
 9   Aircraft_damage         79453 non-null  object
 10  Aircraft_Category       81355 non-null  object
 11  Registration_Number     81253 non-null  object
 12  Make                    81334 non-null  object
 13  Model                   81317 non-null  object
 14  Amateur_Built           81335 non-null  object
 15  Number_of_Engines       79509 non-null  float64
 16  Engine_Type             81355 non-null  object
 17  FAR_Description         28132 non-null  object
 18  Purpose_of_flight       81355 non-null  object
 19  Total_Fatal_Injuries    81355 non-null  float64
 20  Total_Serious_Injuries  81355 non-null  float64
 21  Total_Minor_Injuries    81355 non-null  float64
 22  Total_Uninjured         81355 non-null  float64
 23  Weather_Condition       81355 non-null  object
 24  Broad_phase_of_flight   81355 non-null  object
 25  Report_Status           81355 non-null  object
 26  Publication_Date        68835 non-null  object
 27  State                   81355 non-null  object
 28  Reason                  8514 non-null   object
dtypes: float64(5), object(24)
memory usage: 18.0+ MB

In [ ]:
# Show Reason value_counts including NaN
df['Reason'].value_counts(dropna=False)

Reason
NaN            72841
pilot error     8514
Name: count, dtype: int64

In [ ]:
# Create a subset of records with 'pilot error' as Reason
pilot_error_df = df[df['Reason'] == 'pilot error']
pilot_error_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8514 entries, 60480 to 81117
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                8514 non-null   object
 1   Investigation_Type      8514 non-null   object
 2   Accident_Number         8514 non-null   object
 3   Event_Date              8514 non-null   object
 4   Location                8514 non-null   object
 5   Country                 8514 non-null   object
 6   Airport_Code            6124 non-null   object
 7   Airport_Name            6264 non-null   object
 8   Injury_Severity         8513 non-null   object
 9   Aircraft_damage         8464 non-null   object
 10  Aircraft_Category       8514 non-null   object
 11  Registration_Number     8514 non-null   object
 12  Make                    8514 non-null   object
 13  Model                   8514 non-null   object
 14  Amateur_Built           8514 non-null   object
 15  Number_of_Engines       8260 non-null   float64
 16  Engine_Type             8514 non-null   object
 17  FAR_Description         8514 non-null   object
 18  Purpose_of_flight       8514 non-null   object
 19  Total_Fatal_Injuries    8514 non-null   float64
 20  Total_Serious_Injuries  8514 non-null   float64
 21  Total_Minor_Injuries    8514 non-null   float64
 22  Total_Uninjured         8514 non-null   float64
 23  Weather_Condition       8514 non-null   object
 24  Broad_phase_of_flight   8514 non-null   object
 25  Report_Status           8514 non-null   object
 26  Publication_Date        8514 non-null   object
 27  State                   8514 non-null   object
 28  Reason                  8514 non-null   object
dtypes: float64(5), object(24)
memory usage: 1.9+ MB

In [ ]:
# Show me Report_Status value_counts that are not 'Probable Cause' or 'Factual'
df_report_known = df[~df['Report_Status'].isin(['Probable Cause', 'Factual'])]

In [ ]:
# Show df_report_known Report_Status value_counts that are not 'pilot error' under Reason
df_report_known[df_report_known['Reason'] != 'pilot error'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 12387 entries, 21045 to 81354
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                12387 non-null  object
 1   Investigation_Type      12387 non-null  object
 2   Accident_Number         12387 non-null  object
 3   Event_Date              12387 non-null  object
 4   Location                12387 non-null  object
 5   Country                 12387 non-null  object
 6   Airport_Code            8319 non-null   object
 7   Airport_Name            8289 non-null   object
 8   Injury_Severity         12283 non-null  object
 9   Aircraft_damage         11863 non-null  object
 10  Aircraft_Category       12387 non-null  object
 11  Registration_Number     12369 non-null  object
 12  Make                    12377 non-null  object
 13  Model                   12379 non-null  object
 14  Amateur_Built           12385 non-null  object
 15  Number_of_Engines       11708 non-null  float64
 16  Engine_Type             12387 non-null  object
 17  FAR_Description         12347 non-null  object
 18  Purpose_of_flight       12387 non-null  object
 19  Total_Fatal_Injuries    12387 non-null  float64
 20  Total_Serious_Injuries  12387 non-null  float64
 21  Total_Minor_Injuries    12387 non-null  float64
 22  Total_Uninjured         12387 non-null  float64
 23  Weather_Condition       12387 non-null  object
 24  Broad_phase_of_flight   12387 non-null  object
 25  Report_Status           12387 non-null  object
 26  Publication_Date        12036 non-null  object
 27  State                   12387 non-null  object
 28  Reason                  0 non-null      object
dtypes: float64(5), object(24)
memory usage: 2.8+ MB

In [ ]:
df_report_known[df_report_known['Reason'] != 'pilot error']['Report_Status'].value_counts()

Report_Status
Unknown                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   2599
A loss of engine power for undetermined reasons.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            52
A total loss of engine power for undetermined reasons.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      39
The loss of engine power for undetermined reasons.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          29
The pilots failure to maintain directional control during the landing roll.\r\n\r                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          21
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
The failure of the hopper gate mechanism and subsequent sulfur fire during a low-level maneuver.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
The undercharged and overcharged landing gear dampers, which allowed initiation of the ground resonance event from which the pilot was unable to recover due to his limited experience in helicopters. Contributing to the accident was the ineffective damper inspection conducted by the operators maintenance personnel and the improper overhaul procedure by the overhaul facility that resulted in overcharged dampers being provided to the operator. Also contributing was the lack of any final acceptance testing criteria for the dampers in the manufacturers overhaul procedure manual.       1
The student pilots loss of directional control during the landing roll. Contributing to the accident was the student pilots diverted attention to retract the flaps.                                                                                                                                                                                                                                                                                                                                                                                                                                       1
A partial loss of engine power for undetermined reasons during takeoff.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
The pilots loss of control due to a wind gust during landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Name: count, Length: 9152, dtype: int64

In [ ]:
# replace 'pilots' with "pilot's" in Report_Status column
df['Report_Status'] = df['Report_Status'].str.replace('pilots', 'pilot\'s')

In [ ]:
df[df['Reason'] != 'pilot error']['Report_Status'].value_counts()

Report_Status
Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            60314
Unknown                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2599
Factual                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     140
A loss of engine power for undetermined reasons.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             52
A total loss of engine power for undetermined reasons.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       39
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
The failure of the hopper gate mechanism and subsequent sulfur fire during a low-level maneuver.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
The undercharged and overcharged landing gear dampers, which allowed initiation of the ground resonance event from which the pilot was unable to recover due to his limited experience in helicopters. Contributing to the accident was the ineffective damper inspection conducted by the operators maintenance personnel and the improper overhaul procedure by the overhaul facility that resulted in overcharged dampers being provided to the operator. Also contributing was the lack of any final acceptance testing criteria for the dampers in the manufacturers overhaul procedure manual.        1
The student pilot's loss of directional control during the landing roll. Contributing to the accident was the student pilot's diverted attention to retract the flaps.                                                                                                                                                                                                                                                                                                                                                                                                                                        1
A partial loss of engine power for undetermined reasons during takeoff.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
The pilot's loss of control due to a wind gust during landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Name: count, Length: 9154, dtype: int64

In [ ]:
# If Report_Status contains "pilot's", fill in Reason as 'pilot error'
df.loc[df['Report_Status'].str.contains('pilot\'s'), 'Reason'] = 'pilot error'

In [ ]:
df[df['Reason'] != 'pilot error']['Report_Status'].value_counts()

Report_Status
Probable Cause                                                                                                                                                                                                                 60314
Unknown                                                                                                                                                                                                                         2599
Factual                                                                                                                                                                                                                          140
A loss of engine power for undetermined reasons.                                                                                                                                                                                  52
A total loss of engine power for undetermined reasons.                                                                                                                                                                            39
                                                                                                                                                                                                                               ...
The noncertificated pilot did not maintain adequate airspeed and aircraft control during initial climb.                                                                                                                            1
The flight instructor's improper decision to attempt a visual descent into instrument meteorological conditions while approaching the destination airport, which resulted in an in-flight collision with trees and terrain.        1
Operation of the airplane by a non-certificated pilot and his failure to maintain airplane control.                                                                                                                                1
The passenger's accidental fall while turning the propeller by hand to start the engine.                                                                                                                                           1
The pilot did not ensure adequate clearance from construction vehicles during taxi.                                                                                                                                                1
Name: count, Length: 5518, dtype: int64

In [ ]:
# If Report_Status is 'Probable Cause', 'Unknown', or 'Factual', fill in Reason as Unknown
df.loc[df['Report_Status'].isin(['Probable Cause', 'Unknown', 'Factual']), 'Reason'] = 'Unknown'

In [ ]:
# Show reason values including NaN
df['Reason'].value_counts(dropna=False)

Reason
Unknown        63053
pilot error    12403
NaN             5899
Name: count, dtype: int64

In [ ]:
# Show report_status values that have Reason value as NaN
df[df['Reason'].isna()]['Report_Status'].value_counts()

Report_Status
A loss of engine power for undetermined reasons.                                                                                                                                                                               52
A total loss of engine power for undetermined reasons.                                                                                                                                                                         39
The loss of engine power for undetermined reasons.                                                                                                                                                                             29
Preliminary                                                                                                                                                                                                                    15
A partial loss of engine power for undetermined reasons.                                                                                                                                                                       12
                                                                                                                                                                                                                               ..
The noncertificated pilot did not maintain adequate airspeed and aircraft control during initial climb.                                                                                                                         1
The flight instructor's improper decision to attempt a visual descent into instrument meteorological conditions while approaching the destination airport, which resulted in an in-flight collision with trees and terrain.     1
Operation of the airplane by a non-certificated pilot and his failure to maintain airplane control.                                                                                                                             1
The passenger's accidental fall while turning the propeller by hand to start the engine.                                                                                                                                        1
The pilot did not ensure adequate clearance from construction vehicles during taxi.                                                                                                                                             1
Name: count, Length: 5515, dtype: int64

In [ ]:
# Show report_status values over 10 that have Reason value as NaN
df[df['Reason'].isna()]['Report_Status'].value_counts()[df[df['Reason'].isna()]['Report_Status'].value_counts() > 10]

Report_Status
A loss of engine power for undetermined reasons.            52
A total loss of engine power for undetermined reasons.      39
The loss of engine power for undetermined reasons.          29
Preliminary                                                 15
A partial loss of engine power for undetermined reasons.    12
Foreign                                                     11
Name: count, dtype: int64

In [ ]:
# If Report_Status is 'Preliminary', 'Foreign', fill in Reason as Unknown
df.loc[df['Report_Status'].isin(['Preliminary', 'Foreign']), 'Reason'] = 'Unknown'

In [ ]:
# Show report_status values over 10 that have Reason value as NaN
df[df['Reason'].isna()]['Report_Status'].value_counts()[df[df['Reason'].isna()]['Report_Status'].value_counts() > 10]

Report_Status
A loss of engine power for undetermined reasons.            52
A total loss of engine power for undetermined reasons.      39
The loss of engine power for undetermined reasons.          29
A partial loss of engine power for undetermined reasons.    12
Name: count, dtype: int64

In [ ]:
# If Report_Status contains 'loss of engine' fill in Reason as 'Mechanical Failure'
df.loc[df['Report_Status'].str.contains('loss of engine'), 'Reason'] = 'Mechanical Failure'

In [ ]:
# Show report_status values that have Reason value as NaN
df[df['Reason'].isna()]['Report_Status'].value_counts()

Report_Status
an inadvertent encounter with clear air turbulence.                                                                                                                                                                                          7
The pilot did not maintain directional control during the landing roll.                                                                                                                                                                      6
Undetermined.                                                                                                                                                                                                                                6
A loss of control for undetermined reasons.                                                                                                                                                                                                  6
Loss of engine power for undetermined reasons.                                                                                                                                                                                               5
                                                                                                                                                                                                                                            ..
A binding condition in the left rudder cable which resulted in a loss of directional control during landing.                                                                                                                                 1
The probable cause of the No. 2 engine failure and subsequent aborted takeoff was the high cycle fatigue failure of a fan blade near the blade root that resulted in extensive low pressure compressor damage and compressor case breach.    1
The improper air traffic control takeoff clearance issued by the local controller because of his lack of monitoring and lack of awareness of the conflicting arrival airplane.                                                               1
The pilot under instruction's control interference and the CFI's inadequate supervision of the flight.                                                                                                                                       1
The pilot did not ensure adequate clearance from construction vehicles during taxi.                                                                                                                                                          1
Name: count, Length: 3715, dtype: int64

In [ ]:
# For NaN Reason values, fill in as 'Unknown'
df['Reason'].fillna('Unknown', inplace=True)

<ipython-input-20-15be5f6d18f4>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Reason'].fillna('Unknown', inplace=True)

In [ ]:
# Export df as new CSV
df.to_csv('cleaned_aviation_data_US_v4.csv', index=False)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81355 entries, 0 to 81354
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                81355 non-null  object
 1   Investigation_Type      81355 non-null  object
 2   Accident_Number         81355 non-null  object
 3   Event_Date              81355 non-null  object
 4   Location                81355 non-null  object
 5   Country                 81355 non-null  object
 6   Airport_Code            48431 non-null  object
 7   Airport_Name            50906 non-null  object
 8   Injury_Severity         81250 non-null  object
 9   Aircraft_damage         79453 non-null  object
 10  Aircraft_Category       81355 non-null  object
 11  Registration_Number     81253 non-null  object
 12  Make                    81334 non-null  object
 13  Model                   81317 non-null  object
 14  Amateur_Built           81335 non-null  object
 15  Number_of_Engines       79509 non-null  float64
 16  Engine_Type             81355 non-null  object
 17  FAR_Description         28132 non-null  object
 18  Purpose_of_flight       81355 non-null  object
 19  Total_Fatal_Injuries    81355 non-null  float64
 20  Total_Serious_Injuries  81355 non-null  float64
 21  Total_Minor_Injuries    81355 non-null  float64
 22  Total_Uninjured         81355 non-null  float64
 23  Weather_Condition       81355 non-null  object
 24  Broad_phase_of_flight   81355 non-null  object
 25  Report_Status           81355 non-null  object
 26  Publication_Date        68835 non-null  object
 27  State                   81355 non-null  object
 28  Reason                  81355 non-null  object
dtypes: float64(5), object(24)
memory usage: 18.0+ MB

In [ ]:
# fill in rest of NaN as 'Unknown'
df.fillna('Unknown', inplace=True)

<ipython-input-24-55776e7b5d54>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Unknown', inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81355 entries, 0 to 81354
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                81355 non-null  object
 1   Investigation_Type      81355 non-null  object
 2   Accident_Number         81355 non-null  object
 3   Event_Date              81355 non-null  object
 4   Location                81355 non-null  object
 5   Country                 81355 non-null  object
 6   Airport_Code            81355 non-null  object
 7   Airport_Name            81355 non-null  object
 8   Injury_Severity         81355 non-null  object
 9   Aircraft_damage         81355 non-null  object
 10  Aircraft_Category       81355 non-null  object
 11  Registration_Number     81355 non-null  object
 12  Make                    81355 non-null  object
 13  Model                   81355 non-null  object
 14  Amateur_Built           81355 non-null  object
 15  Number_of_Engines       81355 non-null  object
 16  Engine_Type             81355 non-null  object
 17  FAR_Description         81355 non-null  object
 18  Purpose_of_flight       81355 non-null  object
 19  Total_Fatal_Injuries    81355 non-null  float64
 20  Total_Serious_Injuries  81355 non-null  float64
 21  Total_Minor_Injuries    81355 non-null  float64
 22  Total_Uninjured         81355 non-null  float64
 23  Weather_Condition       81355 non-null  object
 24  Broad_phase_of_flight   81355 non-null  object
 25  Report_Status           81355 non-null  object
 26  Publication_Date        81355 non-null  object
 27  State                   81355 non-null  object
 28  Reason                  81355 non-null  object
dtypes: float64(4), object(25)
memory usage: 18.0+ MB

In [ ]:
df.to_csv('cleaned_aviation_data_US_v5.csv', index=False)

In [ ]:
# Show Injury Severity values
df['Injury_Severity'].value_counts()

Injury_Severity
Non-Fatal      64345
Fatal(1)        5775
Fatal           3551
Fatal(2)        3369
Incident        1775
Fatal(3)         976
Fatal(4)         675
Minor            202
Fatal(5)         167
Serious          153
Fatal(6)         106
Unknown          105
Fatal(7)          31
Fatal(8)          27
Fatal(10)         16
Unavailable       15
Fatal(9)           8
Fatal(12)          5
Fatal(14)          5
Fatal(11)          4
Fatal(18)          3
Fatal(13)          3
Fatal(23)          2
Fatal(25)          2
Fatal(17)          2
Fatal(20)          2
Fatal(70)          1
Fatal(65)          1
Fatal(228)         1
Fatal(88)          1
Fatal(19)          1
Fatal(44)          1
Fatal(64)          1
Fatal(265)         1
Fatal(92)          1
Fatal(230)         1
Fatal(21)          1
Fatal(49)          1
Fatal(78)          1
Fatal(29)          1
Fatal(15)          1
Fatal(110)         1
Fatal(135)         1
Fatal(68)          1
Fatal(132)         1
Fatal(37)          1
Fatal(16)          1
Fatal(27)          1
Fatal(153)         1
Fatal(73)          1
Fatal(111)         1
Fatal(43)          1
Fatal(28)          1
Fatal(156)         1
Fatal(82)          1
Fatal(31)          1
Fatal(34)          1
Name: count, dtype: int64

In [28]:
# Remove parentheses and numbers from 'Injury Severity' column
df['Injury_Severity'] = df['Injury_Severity'].str.replace(r'\([^)]*\)', '', regex=True)

In [29]:
# Show Injury Severity values
df['Injury_Severity'].value_counts()

Injury_Severity
Non-Fatal      64345
Fatal          14760
Incident        1775
Minor            202
Serious          153
Unknown          105
Unavailable       15
Name: count, dtype: int64

In [30]:
# Replace 'Unavailable' with 'Unknown' in Injury Severity
df['Injury_Severity'] = df['Injury_Severity'].str.replace('Unavailable', 'Unknown')

In [31]:
# Show first ten with 'Incident' in Injury Severity
df[df['Injury_Severity'].str.contains('Incident')].head(10)

,Event_Id,Investigation_Type,Accident_Number,Event_Date,Location,Country,Airport_Code,Airport_Name,Injury_Severity,Aircraft_damage,...,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status,Publication_Date,State,Reason
23,20020917X02333,Incident,LAX82IA034,1982-01-03,"VAN NUYS, CA",United States,VNY,VAN NUYS,Incident,Minor,...,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,03-01-1983,CA,Unknown
39,20020917X01764,Incident,ATL82IA029,1982-01-05,"PENSACOLA, FL",United States,Unknown,Unknown,Incident,Minor,...,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,05-01-1983,FL,Unknown
78,20020917X01897,Incident,CHI82IA026,1982-01-12,"CHICAGO, IL",United States,ORD,CHICAGO O'HARE INTER'L,Incident,Unknown,...,0.0,0.0,0.0,149.0,Unknown,Cruise,Probable Cause,12-01-1983,IL,Unknown
79,20020917X01765,Incident,ATL82IA034,1982-01-12,"CLARKSBURG, WV",United States,CKB,BENEDUM,Incident,Minor,...,0.0,0.0,0.0,2.0,VMC,Taxi,Probable Cause,12-01-1983,WV,Unknown
117,20020917X01766,Incident,ATL82IA038,1982-01-19,"WASHINGTON, DC",United States,IAD,Unknown,Incident,Minor,...,0.0,0.0,0.0,1.0,IMC,Descent,Probable Cause,19-01-1983,DC,Unknown
129,20020917X02334,Incident,LAX82IA044,1982-01-20,"SAN JOSE, CA",United States,SJC,SAN JOSE MUNICIPAL,Incident,Minor,...,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,20-01-1983,CA,Unknown
147,20020917X01767,Incident,ATL82IA041,1982-01-22,"LOUISVILLE, KY",United States,SDF,STANDIFORD FIELD,Incident,Unknown,...,0.0,0.0,0.0,2.0,VMC,Descent,Probable Cause,22-01-1983,KY,Unknown
187,20020917X01768,Incident,ATL82IA042,1982-01-29,"ATLANTA, GA",United States,Unknown,Unknown,Incident,Unknown,...,0.0,0.0,0.0,2.0,VMC,Cruise,Probable Cause,29-01-1983,GA,Unknown
190,20020917X02335,Incident,LAX82IA062,1982-01-30,"TRUCKEE, CA",United States,TRK,TRUCKEE TAHOE,Incident,Minor,...,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,30-01-1983,CA,Unknown
271,20020917X01769,Incident,ATL82IA051,1982-02-09,"BIRMINGHAM, AL",United States,Unknown,BIRMINGHAM MUNI,Incident,Unknown,...,0.0,0.0,0.0,10.0,IMC,Takeoff,Probable Cause,09-02-1983,AL,Unknown

In [32]:
# Replace 'Incident' with 'Non-Fatal' in Injury Severity
df['Injury_Severity'] = df['Injury_Severity'].str.replace('Incident', 'Non-Fatal')

In [33]:
# Show Injury Severity values
df['Injury_Severity'].value_counts()

Injury_Severity
Non-Fatal    66120
Fatal        14760
Minor          202
Serious        153
Unknown        120
Name: count, dtype: int64

In [34]:
df.to_csv('cleaned_aviation_data_US_v6.csv', index=False)